pandas<2.0.0:               timeseries
gluonts==0.12.7:            timeseries
numpy==1.23.5:              timeseries
neuralforecast==1.5.0:      timeseries
mxnet==1.9.1:               timeseries
pmdarima==2.0.3:            timeseries
fasttext-wheel:             nlp
transformers:               nlp
scikit-image:               image
